.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
}


h1 {
  font-size: 42px;
  font-weight: 700;
  color: #1e3a8a;
  margin-bottom: 15px;
}


p {
  font-size: 18px;
  color: #4b5563;
}


input {
  width: 420px;
  padding: 15px;
  margin-top: 30px;
  border-radius: 10px;
  border: 1px solid #cbd5e1;
  font-size: 16px;
  outline: none;
}


input:focus {
  border-color: #2563eb;
}


button {
  margin-top: 25px;
  padding: 14px 35px;
  border: none;
  border-radius: 10px;
  background: #2563eb;
  color: white;
  font-size: 16px;
  cursor: pointer;
}


button:hover {
  background: #1d4ed8;
}


.card {
  margin-top: 35px;
  background: white;
  width: 430px;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.12);
  text-align: left;
}


.card p {
  margin: 12px 0;
  font-size: 16px;
}


.error {
  color: red;
}


footer {
  margin-top: 50px;
  font-size: 14px;
  color: #64748b;
}